.header {
    margin-top: 57px;
    line-height: 19px;
    font-weight: 500;
}

.header-container {
    display: flex;
    justify-content: space-between;
}

.header-navigation {
    display: flex;
    align-items: center;
}

.header-navigation nav {
    align-items: center;
}

.header-menu {
    display: flex;
    padding-left: 50px;
}

.header-menu li:not(:first-child){
    padding-left: 30px;
}

.header-contacts {
    display: flex;
    align-items: center;
}

.header-socials-networks {
    display: flex;
    align-items: center;
}

.header-description {
    width: 135px;
    padding-top: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 10px;
    line-height: 12px;
}

@media (max-width: 1060px) {
    .header-menu {
        padding-left: 30px;
    }

    .header-menu li:not(:first-child){
        padding-left: 10px;
    }
}

@media (max-width: 900px) {
    .header-menu {
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;
    }

    .header-contacts {
        display: none;
    }
}

@media (max-width: 570px) {
    .header {
        margin: 0;
    }

    .header-container {
        justify-content: center;
    }

    .header-menu {
        padding: 20px 0;
    }

    .header-menu li:last-child {
        display: none;
    }

    .logo {
        display: none;
    }

    .header-description {
        display: none;
    }
}

